* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #312828;

    font-weight: 300;
}

.clearfix::after {
    content: "";
    display: table;
    clear: both;
}

.right {
    float: right;
}

.container {
    max-width: 1600px;
    margin: 0 auto;
    padding: 150px;
}

.col,
.col2 {
    width: 40%;
    position: relative;
    height: 600px;
    border: 2px solid red;
    display: inline-block;

}

.col2 {
    float: right;
    background:url("me.jpg");
    background-color: #555555;
    background-repeat: no-repeat;
    background-position: center;




}

.button_buy {
    padding: 15px;
    margin-top: 40px;
    margin-left: 38%;
    text-transform: uppercase;
    background-color: yellow;
    border-radius: 20%;

}

img {
    margin: 30px;
}

#image {
    height: 100px;
    width: 100px;
}



.box {

    height: 350px;
    width: 250px;
    border: 1px solid white;
    margin: 30px auto;
}

.text {
    margin: 20px;
}

.button[type="button"] {
    height: 30px;
    width: 30px;
    border-radius: 50%;
}





























